/* Creando nuevos estilos */
.dt{
	width: 96%;
	height: 6rem;
	font-size: 3rem;
	color: #33EE44;
	margin: 2% 2%;
	padding: 2% 2%;
}

#titulos{
	text-align: center;
	font-size: 4rem;
	color: #337ab7;
}

.siguiente{
	margin: 0 auto;
	font-size: 2rem;
}